.jumbotron.bgw-cover
	h1 Hello {{name}}
	p.letter-space 時間就是金錢，別再為無聊的作業爆肝！感想文產生器讓您把握更多美好時光 :)
ul.well.well-small(style='padding:2em 5em;')
	li
		.h3(style='padding-top: 0.5em;') 善於利用時間的人，永遠找得到充裕的時間。  —— 歌德
	li
		.h4(style='padding-top: 0.5em;') 青春是生命中最美好的一段時間。 ── 黑格爾
	li
		.h3(style='padding-top: 0.5em;') 一寸光陰一寸金，寸金難買寸光陰。  ── 中國古諺
	li
		.h5(style='padding-top: 0.5em;') 必須記住我們學習的時間是有限的。時間有限，不只由於人生短促，更由於人的紛繁。我們應該力求把我們所有的時間用去做最有益的事。 ── 斯賓塞
span 我們追求有用的知識、探索無盡的世界，反對一切制式的作業、無意義的報告。感想文產生器是智慧型中文亂文產生器，可依據您選擇的職業類別產生像一般人寫的文章。
a.btn.btn-primary(href='article') 開始使用