!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title 感想文產生器Beta
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='js/lib/angular/angular.js')
    script(src='js/lib/jquery/jquery-2.0.3.min.js')
    script(src='bootstrap/js/bootstrap.min.js')
    block script
  body
    nav.navbar.navbar-default(role='navigation', ng-controller='NavCtrl')
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.letter-space(href='/', ng-click='set_active("index")') 感想文產生器
      //- Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav
          li(ng-click='set_active("article")', ng-class='{active: is_selected("article")}')
            a(href='article', data-original-title='我的文章')
              span.glyphicon.glyphicon-user
          li(ng-click='set_active("contribute")', ng-class='{active: is_selected("contribute")}')
            a(href='contribute', data-original-title='增加範本') 
              span.glyphicon.glyphicon-edit
          li(ng-click='set_active("dictionary")', ng-class='{active: is_selected("dictionary")}')
            a(href='dictionary', data-original-title='詞彙一覽') 
              span.glyphicon.glyphicon-book
          li(ng-click='set_active("contact")', ng-class='{active: is_selected("contact")}')
            a(href='contact', data-original-title='建議事項') 
              span.glyphicon.glyphicon-comment
        
        ul.nav.navbar-nav.navbar-right
          form.navbar-form.navbar-left(role='search')
            .form-group
              input.form-control(type='text', placeholder='搜尋範本')
            button.btn.btn-default(type='submit') 
              span.glyphicon.glyphicon-search
          li.dropdown
            a.dropdown-toggle(href='{{location.absUrl()}}#', data-toggle='dropdown')
              | 我是{{user_occupation.text || '...'}}
              b.caret
            ul.dropdown-menu(style='max-height:300px;overflow:auto;')
              li(ng-repeat='occupation in occupations')
                a(href='{{location.absUrl()}}#', ng-click='set_occupation()') {{occupation.text}}
              li.divider
              li(ng-switch, on='edit_occupation', stop-event)
                div(ng-switch-when='true', ng-include='\'partial/edit_template\'')
                a(ng-switch-default, href='{{location.absUrl()}}#', ng-click='add_occupation(true)')
                  span.glyphicon.glyphicon-plus
                  span 增加職業別
          li.dropdown
            a.dropdown-toggle(href='{{location.absUrl()}}#', data-toggle='dropdown')
              | 年齡 {{user_age}} 歲
              b.caret
            ul.dropdown-menu(style='min-width:100px;max-height:300px;overflow:auto;')
              li(ng-repeat='age in ages')
                a(href='{{location.absUrl()}}#', ng-click='set_age()') {{age}} 歲
      //- navbar-collapse
    block body
  footer.bgw-footer
    .container
      div.pull-left
        | xx 的職業別已有 oo 句詞彙。
      div.pull-right
        | 2013 ©感想文產生器: v
        span(app-version)
      